@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212529;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--212529);
  font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea {
  background-color: #dddddd;
  color: #212529;
}

.alert {
  background-color: #8E4A49;
  color: #ffffff;
}